<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Bootstrap-->
    <link href="/Bootstrap/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ace-skins.min.css" />
    <link href="/Bootstrap/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Bootstrap/ace/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="/Bootstrap/owner/Comm.css" />
    <!-- Font Awesome -->
    <script src="/Bootstrap/jquery-1.9.1.min.js"></script>
    <script src="/Bootstrap/ace/assets/js/bootstrap.min.js"></script>
    <script src="/Bootstrap/ace/assets/js/typeahead-bs2.min.js"></script>
    <script src="/Bootstrap/ace/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Bootstrap/ace/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="/Bootstrap/ace/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="/Bootstrap/echart/echarts.js"></script>
    <script type="text/javascript">
        var grid_data =
            [
                {id:"3103789966",name:"历经铺所P15319台区总表天马新村灵官坛变",note:"公用配变考核计量点（F类）",stock:"长沙市宁乡县夏铎铺镇天马新村13组",ship:"100度", sdate:"张吉惟"},
                {id:"3107181867",name:"历经铺所P16825台区总表天马新村荷叶塘变",note:"公用配变考核计量点（F类）",stock:"长沙市宁乡县夏铎铺镇天马新村7组",ship:"91度",sdate:"林国瑞"},
                {id:"3106243252",name:"宁乡历经铺所P16979天马新村石龙关变",note:"公用配变考核计量点（F类）",stock:"长沙市宁乡县夏铎铺镇天马新村25组",ship:"94度",sdate:"林玟书"},
                {id:"3101475135",name:"宁乡历经铺所天马新村大枫树变P15301",note:"公用配变考核计量点（F类）",stock:"宁乡历经铺所天马新村大枫树变P15301",ship:"86度",sdate:"林雅南"},
                {id:"6115119372",name:"3740-天马新村32公里变",note:"公用配变考核计量点（F类）",stock:"长沙市宁乡县夏铎铺镇天马新村1组3740-天马新村32公里变",ship:"86度",sdate:"江奕云"},
                {id:"6115112283",name:"3348-天马新村丁家湾变",note:"公用配变考核计量点（F类）",stock:"3348-天马新村丁家湾变", ship:"86度",sdate:"正常"},
                {id:"3111228136",name:"历经铺所天马新村乌峰山变P17670",note:"公用配变考核计量点（F类）",stock:"长沙市宁乡县夏铎铺镇天马新村18组",ship:"86度",sdate:"刘柏宏"},
                {id:"8",name:"Server",note:"note2",stock:"Yes",ship:"TNT",sdate:"2007-12-03"},
                {id:"9",name:"Matrix Printer",note:"note3",stock:"No", ship:"FedEx",sdate:"2007-12-03"},
                {id:"10",name:"Desktop Computer",note:"note",stock:"Yes",ship:"FedEx", sdate:"2007-12-03"},
                {id:"11",name:"Laptop",note:"Long text ",stock:"Yes",ship:"InTime",sdate:"2007-12-03"},
                {id:"12",name:"LCD Monitor",note:"note3",stock:"Yes",ship:"TNT",sdate:"2007-12-03"},
                {id:"13",name:"Speakers",note:"note",stock:"No",ship:"ARAMEX",sdate:"2007-12-03"},
                {id:"14",name:"Laser Printer",note:"note2",stock:"Yes",ship:"FedEx",sdate:"2007-12-03"},
                {id:"15",name:"Play Station",note:"note3",stock:"No", ship:"FedEx",sdate:"2007-12-03"},
                {id:"16",name:"Mobile Telephone",note:"note",stock:"Yes",ship:"ARAMEX",sdate:"2007-12-03"},
                {id:"17",name:"Server",note:"note2",stock:"Yes",ship:"TNT",sdate:"2007-12-03"},
                {id:"18",name:"Matrix Printer",note:"note3",stock:"No", ship:"FedEx",sdate:"2007-12-03"},
                {id:"19",name:"Matrix Printer",note:"note3",stock:"No", ship:"FedEx",sdate:"2007-12-03"},
                {id:"20",name:"Desktop Computer",note:"note",stock:"Yes",ship:"FedEx", sdate:"2007-12-03"},
                {id:"21",name:"Laptop",note:"Long text ",stock:"Yes",ship:"InTime",sdate:"2007-12-03"},
                {id:"22",name:"LCD Monitor",note:"note3",stock:"Yes",ship:"TNT",sdate:"2007-12-03"},
                {id:"23",name:"Speakers",note:"note",stock:"No",ship:"ARAMEX",sdate:"2007-12-03"}
            ];

        jQuery(function($) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            jQuery(grid_selector).jqGrid({
                //direction: "rtl",
                data: grid_data,
                datatype: "local",
                height: 250,
                colNames: [ '用户编号', '用户名称', '用户类型', '用电地址', '用户用电量', '备注'],
                colModel: [
                    {name: 'id', index: 'id', width: 60, sorttype: "int", editable: true},
                    {name: 'sdate', index: 'sdate', width: 90, editable: true, sorttype: "date", unformat: pickDate},
                    {
                        name: 'name',
                        index: 'name',
                        width: 150,
                        editable: true,
                        editoptions: {size: "20", maxlength: "30"}
                    },
                    {
                        name: 'stock',
                        index: 'stock',
                        width: 70,
                        editable: true,
                        edittype: "checkbox",
                        editoptions: {value: "Yes:No"},
                        unformat: aceSwitch
                    },
                    {
                        name: 'ship',
                        index: 'ship',
                        width: 90,
                        editable: true,
                        edittype: "select",
                        editoptions: {value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX"}
                    },
                    {
                        name: 'note',
                        index: 'note',
                        width: 150,
                        sortable: false,
                        editable: true,
                        edittype: "textarea",
                        editoptions: {rows: "2", cols: "10"}
                    }
                ],

                viewrecords: true,
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: pager_selector,
                altRows: true,
                //toppager: true,

                multiselect: true,
                //multikey: "ctrlKey",
                multiboxonly: true,

                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);

                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },

                //  editurl: $path_base + "/dummy.html",//nothing is saved
                caption: "jqGrid with inline editing",
                editurl:"",

                autowidth: true

            });
            function aceSwitch( cellvalue, options, cell ) {
                setTimeout(function(){
                    $(cell) .find('input[type=checkbox]')
                        .wrap('<label class="inline" />')
                        .addClass('ace ace-switch ace-switch-5')
                        .after('<span class="lbl"></span>');
                }, 0);
            }
            //enable datepicker
            function pickDate( cellvalue, options, cell ) {
                setTimeout(function(){
                    $(cell) .find('input[type=text]')
                        .datepicker({format:'yyyy-mm-dd' , autoclose:true});
                }, 0);
            }


            //navButtons
            jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                { 	//navbar options
                    edit: false,
                    editicon : 'icon-pencil blue',
                    add: false,
                    addicon : 'icon-plus-sign purple',
                    del: false,
                    delicon : 'icon-trash red',
                    search: false,
                    searchicon : 'icon-search orange',
                    refresh: false,
                    refreshicon : 'icon-refresh green',
                    view: true,
                    viewicon : 'icon-zoom-in grey',
                },
                {
                    //edit record form
                    //closeAfterEdit: true,
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //new record form
                    closeAfterAdd: true,
                    recreateForm: true,
                    viewPagerButtons: false,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        if(form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick : function(e) {
                        alert(1);
                    }
                },
                {
                    //search form
                    recreateForm: true,
                    afterShowSearch: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_search_form(form);
                    },
                    afterRedraw: function(){
                        style_search_filters($(this));
                    }
                    ,
                    multipleSearch: true,
                    /**
                     multipleGroup:true,
                     showQuery: true
                     */
                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function(e){
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
            )



            function style_edit_form(form) {
                //enable datepicker on "sdate" field and switches for "stock" field
                form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
                    .end().find('input[name=stock]')
                    .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

                //update buttons classes
                var buttons = form.next().find('.EditButton .fm-button');
                buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
                buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
                buttons.eq(1).prepend('<i class="icon-remove"></i>')

                buttons = form.next().find('.navButton a');
                buttons.find('.ui-icon').remove();
                buttons.eq(0).append('<i class="icon-chevron-left"></i>');
                buttons.eq(1).append('<i class="icon-chevron-right"></i>');
            }

            function style_delete_form(form) {
                var buttons = form.next().find('.EditButton .fm-button');
                buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
                buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
                buttons.eq(1).prepend('<i class="icon-remove"></i>')
            }

            function style_search_filters(form) {
                form.find('.delete-rule').val('X');
                form.find('.add-rule').addClass('btn btn-xs btn-primary');
                form.find('.add-group').addClass('btn btn-xs btn-success');
                form.find('.delete-group').addClass('btn btn-xs btn-danger');
            }
            function style_search_form(form) {
                var dialog = form.closest('.ui-jqdialog');
                var buttons = dialog.find('.EditTable')
                buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
                buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
                buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
            }

            function beforeDeleteCallback(e) {
                var form = $(e[0]);
                if(form.data('styled')) return false;

                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_delete_form(form);

                form.data('styled', true);
            }

            function beforeEditCallback(e) {
                var form = $(e[0]);
                form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                style_edit_form(form);
            }



            //it causes some flicker when reloading or navigating grid
            //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
            //or go back to default browser checkbox styles for the grid
            function styleCheckbox(table) {
                /**
                 $(table).find('input:checkbox').addClass('ace')
                 .wrap('<label />')
                 .after('<span class="lbl align-top" />')


                 $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                 .find('input.cbox[type=checkbox]').addClass('ace')
                 .wrap('<label />').after('<span class="lbl align-top" />');
                 */
            }


            //unlike navButtons icons, action icons in rows seem to be hard-coded
            //you can change them like this in here if you want
            function updateActionIcons(table) {
                /**
                 var replacement =
                 {
                     'ui-icon-pencil' : 'icon-pencil blue',
                     'ui-icon-trash' : 'icon-trash red',
                     'ui-icon-disk' : 'icon-ok green',
                     'ui-icon-cancel' : 'icon-remove red'
                 };
                 $(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
                 */
            }

            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {
                var replacement =
                    {
                        'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
                        'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
                        'ui-icon-seek-next' : 'icon-angle-right bigger-140',
                        'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
                    };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
                })
            }

            function enableTooltips(table) {
                $('.navtable .ui-pg-button').tooltip({container:'body'});
                $(table).find('.ui-pg-div').tooltip({container:'body'});
            }
        });

        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

    </script>
</head>
<body>
<div class="page-content">
    <div class="page-header">
        <h1>
            用户电量分析
            <small>
                <i class="icon-double-angle-right"></i>
                <!--Dynamic tables and grids using jqGrid plugin-->
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="form-group">
        <div class="col-sm-2">
            <span class="help-inline col-xs-12 col-sm-7">
												<label class="middle">
													<input class="ace" type="checkbox" id="id-disable-check" />
													<span class="lbl">按年</span>
												</label>
											</span>
        </div>
        <div class="col-sm-2">
            <span class="help-inline col-xs-12 col-sm-7">
												<label class="middle">
													<input class="ace" type="checkbox"  />
													<span class="lbl">按月</span>
												</label>
											</span>
        </div>
        <div class="col-sm-2">
            <span class="help-inline col-xs-12 col-sm-7">
												<label class="middle">
													<input class="ace" type="checkbox"  />
													<span class="lbl">按天</span>
												</label>
											</span>
        </div>
        <div class="col-sm-2">
            <span class="help-inline col-xs-12 col-sm-7">
												<label class="middle">
													<input class="ace" type="checkbox"  />
													<span class="lbl">时段</span>
												</label>
											</span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">图形报表</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <table id="grid-table"></table>

            <div id="grid-pager"></div>

            <script type="text/javascript">

            </script>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!-- Large modal -->

<!--弹出框-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 950px">
        <div class="modal-content">
            <div id="main1" style="width: 800px;height:400px;"></div>
            <script>
                var myChart = echarts.init(document.getElementById('main1'));
                option = {
                    title: {
                        text: '用户电量分析'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['张吉惟','林国瑞','林玟书','林雅南','江奕云']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['','2013','2014','2015','2016','2017','2018']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'张吉惟',
                            type:'line',
                            stack: '总量',
                            data:[120, 132, 101, 134, 90, 230, 210]
                        },
                        {
                            name:'林国瑞',
                            type:'line',
                            stack: '总量',
                            data:[220, 182, 191, 234, 290, 330, 310]
                        },
                        {
                            name:'林玟书',
                            type:'line',
                            stack: '总量',
                            data:[150, 232, 201, 154, 190, 330, 410]
                        },
                        {
                            name:'林雅南',
                            type:'line',
                            stack: '总量',
                            data:[320, 332, 301, 334, 390, 330, 320]
                        },
                        {
                            name:'江奕云',
                            type:'line',
                            stack: '总量',
                            data:[820, 932, 901, 934, 1290, 1330, 1320]
                        }
                    ]
                };
                myChart.setOption(option);
            </script>
        </div>
    </div>
</div>
</body>
</html>